// Reset
* {
	position: absolute
}

*,
:before, :after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	position: initial;
	color: #000000;
	font-family:Arial, sans-serif;
	font-size:100%;
	line-height:1.48;
	border: 0;
	margin: 0;
}

a,
img {
	border: 0;
	outline: none;
}