* {
  position: absolute; }

*,
:before, :after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  position: initial;
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 100%;
  line-height: 1.48;
  border: 0;
  margin: 0; }

a,
img {
  border: 0;
  outline: none; }

#animation,
#frame1,
#frame2 {
  width: 968px;
  height: 248px;
  top: 0;
  left: 0;
  z-index: 0; }

body {
  position: initial;
  width: 970px;
  height: 250px; }

#border {
  width: 970px;
  height: 250px;
  border: 1px solid #000000;
  overflow: hidden;
  opacity: 0; }

#loading {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#frame1Example {
  background: #ff0b96;
  color: white;
  left: 10px;
  bottom: 10px;
  padding: 5px 20px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px; }

#frame2Example {
  background: #ff0b96;
  color: white;
  right: 10px;
  top: 10px;
  padding: 5px 20px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px; }

#trailerContainer {
  width: 376px;
  height: 250px;
  z-index: 50;
  background: url("../img/still.jpg");
  background-size: cover;
  cursor: pointer;
  border-right: 1px solid black; }

#trailer {
  cursor: auto; }

#bgExit {
  width: 970px;
  height: 250px;
  cursor: pointer;
  z-index: 49; }

#cta {
  width: 150px;
  height: 30px;
  bottom: 10px;
  right: 10px;
  background: url("../img/cta.png");
  cursor: pointer;
  opacity: 0;
  z-index: 50;
  transition: 0.15s linear;
  -o-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -webkit-transition: 0.15s linear; }
  #cta:hover {
    background: url("../img/cta-hover.png"); }
